@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: calc(15px + 0.390625vw);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 2rem;
  color: rgb(85 168 253);
}

table {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  line-height: 30px;
  text-align: left;
  font-size: 1rem;
}

table caption {
  color: rgb(128, 128, 128);
}

table thead {
  /* head takes the height it requires,
  and it's not scaled when table is resized */
  flex: 0 0 auto;
  font-weight: 700;
  width: calc(100% - 0.9em);
}

table tbody {
  /* body takes all the remaining available space */
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
}

table tbody tr {
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}

table thead, table tbody tr {
  display: table;
  table-layout: fixed;
}

form {
  display: block;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  font-size: 1rem;
}

form h3 {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin: 10px;
}

form input {
  border: 1px solid rgba(128, 128, 128, 0.281);
  border-radius: 5px;
  font-family: inherit;
  width: 80%;
}

form select {
  font-family: inherit;
  margin-bottom: 10px;
}

form span {
  display: block;
  font-size: small;
  color: red;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.281);
  border-radius: 20px;
}

@media (max-width: 768px) {
  table {
    font-size: 0.7rem;
  }
  form {
    font-size: 0.7rem;
  }
}