.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: 80%;
  width: 80%;
  margin: auto;
  grid-column: 3/13;
}

.balance {
  display: flex;
}

.tableContainer {
  height: 80%;
}

@media (max-width: 768px) {
  .container {
    grid-column: 1/13;
  }
}