.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 20vw;
  text-transform: uppercase;
  background-color: grey;
}

.link {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}